<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MoneySpot</a>
        <!-- Toggler for smaller screens -->
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" id="navbarToggler">
    </div>
</div>

<!-- Navigation Menu -->
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/dashboard">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/add-transaction">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Transaction
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/debt-management">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Debt
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Logout
            </a>
        </div>
    </nav>
</div>

